<mat-nav-list>
    <a mat-list-item (click)="createTask()">
      <span mat-line>Create New Task</span>
      <span mat-line>Manage your time wisely</span>
    </a>
  
    <a mat-list-item (click)="navigateTo('notes/create-note')">
      <span mat-line>Create Quick Note</span>
      <span mat-line>Note the things for more productivity</span>
    </a>
  
    <a mat-list-item (click)="createTag()">
      <span mat-line>Create Tags</span>
      <span mat-line>Group the tasks and notes.</span>
    </a>
</mat-nav-list>
  