<mat-toolbar class="top-bar text-black" color="primary">
    <div class="mat-headline mb-8">
        My Notes
    </div>

    <div class="options-menu">
        <button mat-icon-button [matMenuTriggerFor]="tuneOptions">
            <mat-icon class="material-icons-outlined">tune</mat-icon>
        </button>
          <mat-menu #tuneOptions="matMenu">
            <button mat-menu-item>
              <span>Incompleted Tasks</span>
            </button>
            <button mat-menu-item>
              <span>Completed Tasks</span>
            </button>
            <button mat-menu-item>
              <span>All Tasks</span>
            </button>
          </mat-menu>      
    </div>
</mat-toolbar>
