<mat-toolbar class="top-bar text-black" color="primary">
    <div class="mat-headline mb-8">
        Work List
    </div>

    <div class="options-menu">
        <button mat-icon-button [matMenuTriggerFor]="tuneOptions">
            <mat-icon class="material-icons-outlined">tune</mat-icon>
        </button>
          <mat-menu #tuneOptions="matMenu">
            <button mat-menu-item>
              <span>Incompleted Tasks</span>
            </button>
            <button mat-menu-item>
              <span>Completed Tasks</span>
            </button>
            <button mat-menu-item>
              <span>All Tasks</span>
            </button>
          </mat-menu>      
    </div>

    <nav mat-tab-nav-bar color="accent">
        <a mat-tab-link class="text-black" [active]="true">Today</a>
        <a mat-tab-link class="text-black">Month</a>
    </nav>
</mat-toolbar>

<app-task-list [allTasks]="allTasks$ | async" [allTags]="allTags$ | async"></app-task-list>