mat-toolbar.miniNavbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	height: 60px;

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
		display: flex;
		align-items: center;
    }

	ul { 
		width: 100%;
		justify-content: space-around;
	}

	ul > li.nav-action {
		justify-content: center;
	}
		
	ul > li.nav-action.side {
		width: 25%;
		height: 60px;

		button {
			width: 100%;
			height: 100%;
			
			mat-icon, i {
				font-size: 30px;
				line-height: 30px;
				width: 30px;
				height: 30px;
			}
		}

	}

	li.nav-action.middle {
		button {
			position: relative;
			top: -10px;
		}
	}
}

mat-toolbar.top-bar {
	height: fit-content;
	min-height: 85px;
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-top: 16px;

	.mat-headline {
		line-height: 40px;
		text-align: center;
	}

	.options-menu {
			position: absolute;
			right: 16px;
			top: 16px;
	}

	nav.mat-tab-nav-bar.mat-tab-header {
		width: 100%;

		.mat-tab-links {
			justify-content: space-evenly;

			.mat-tab-link {
				width: 50%;
				padding: 0;
			}
		}

		// mat-ink-bar {
		// 	width: 40px !important;
		// }
	}
}

mat-card.task-group {
	margin: 16px 8px;

	mat-expansion-panel.task-item {
		padding: 8px 0px !important;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		margin-bottom: 8px;
		border-radius: 4px;

		mat-expansion-panel-header {
			padding: 0px !important;

			.mat-content {
				padding: 0px 16px;
				align-items: center;

				mat-checkbox {
					margin-right: 24px;
				}
				.details {
					max-width: 230px;
					cursor: pointer;
					* {
						max-width: 100%;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
				.details.complete {
					text-decoration: line-through;
				}
				button.mat-icon-button {
					position: absolute;
					right: 8px;
				}

			}
		}

		.mat-expansion-panel-body {
			padding: 0 22px 16px 16px !important;

			* {
				width: 100%;
				white-space: pre-wrap;
				word-break: break-word;
				overflow: hidden;
			}
		}

		.mat-expansion-panel-header[aria-disabled="true"] {
			color: inherit !important;
		}
		&::after {
			content: " ";
			width: 6px;
			height: calc(100% - 32px);
			background: #344d3a;
			position: absolute;
			top: 16px;
			right: 0;
			border-radius: 2px;
		}
	}

}

.cdk-overlay-pane.full-view-dialog {
	max-width: 95vw !important;
}