
<mat-card class="task-group no-box-shadow">
    <div class="mat-headline-2 mb-8" *ngIf="today">TODAY: {{ today }}</div>
    <ng-container *ngFor="let task of allTasks; trackBy: trackByFn; let i = index">
        <mat-expansion-panel [expanded]="indexExpanded == i" class="task-item" disabled hideToggle [ngClass]="{ 'bg-disabled': task.completed }">
            <mat-expansion-panel-header>
                <mat-checkbox [checked]="task.completed" (change)="checkBoxChange(task)"></mat-checkbox>
                <div class="details" [ngClass]="{ 'complete': task.completed }">
                    <a (click)="togglePanels(i, task.description)">
                        <div *ngIf="task.title" class="mat-headline-1 mb-0">{{ task.title }}</div>
                        <div *ngIf="task.date" class="mat-caption mb-0">{{ task.date | date: 'shortTime' }}</div>
                    </a>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="moreOptions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #moreOptions="matMenu">
                    <button mat-menu-item (click)="editTask(task)">
                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteTask(task)">
                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-expansion-panel-header>
            <div *ngIf="task.description" class="mat-body-2">{{ task.description }}</div>
        </mat-expansion-panel>
    </ng-container>
</mat-card>