<mat-card class="task-group">
    <div class="mat-title mb-8">TODAY, AUG 4/2020</div>

    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
</mat-card>
<mat-card class="task-group">
    <div class="mat-title mb-8">TODAY, AUG 4/2020</div>

    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
</mat-card>
<mat-card class="task-group">
    <div class="mat-title mb-8">TODAY, AUG 4/2020</div>

    <div class="task-item" mat-ripple>
        <mat-checkbox></mat-checkbox>
        <div class="details">
            <div class="mat-title mb-0">Go fishing with Stephen</div>
            <div class="mat-body mb-0">9:00 AM</div>
        </div>
    </div>
</mat-card>