<div class="form-container d-flex flex-col">
    <h2 mat-dialog-title class="mb-4">Create Task</h2>
    <mat-divider class="mb-16"></mat-divider>
    <form #taskForm="ngForm">
        <mat-dialog-content class="d-flex flex-col">

            <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input matInput name="title" placeholder="eg: Buy New Stocks">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Description</mat-label>
                <textarea matInput name="description" placeholder="eg: Buy stocks in large scale" rows="4"></textarea>
            </mat-form-field>

            <mat-form-field class="date-picker-disabled" appearance="legacy">
                <mat-label>Date</mat-label>
                <input matInput name="date" (click)="picker.open()" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <!-- <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon> -->
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </mat-dialog-content>

        <mat-dialog-actions class="p-0" align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
        </mat-dialog-actions>
    </form>
</div>