<mat-toolbar class="miniNavbar text-black" color="primary">
    <ul>
        <li class="nav-action side">
            <button (click)="navigateTo('work-list')" mat-button>
                <mat-icon class="material-icons-outlined">checklist</mat-icon>
            </button>
        </li>
        <li class="nav-action side">
            <button (click)="navigateTo('groups')" mat-button>
                <mat-icon class="material-icons-outlined">grid_view</mat-icon>
            </button>
        </li>
        <li class="nav-action middle">
            <button mat-fab (click)="openMainActionMenu()">
                <mat-icon class="material-icons-outlined">add</mat-icon>
            </button>
        </li>
        <li class="nav-action side">
            <button (click)="navigateTo('notes')" mat-button>
                <mat-icon class="material-icons-outlined">splitscreen</mat-icon>
            </button>
        </li>
        <li class="nav-action side">
            <button (click)="navigateTo('work-list')" mat-button>
                <mat-icon class="material-icons-outlined">person_outline</mat-icon>
            </button>
        </li>
    </ul>
</mat-toolbar>